.product {
  background-color: #dcdcdc;
}

.nav {
  margin: 50px;
  border-bottom: 1px solid black !important;
  padding-left: 50px !important;
}

.label,
.books,
.tags {
  margin: 50px !important;
  background: #dcdcdc;
  h3 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center !important;
  }
}

.lab_pics,
.books_pics,
.tags_pics {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 410px);
  grid-gap: 10px;
  img {
    border-radius: 10px;
  }
}

@media (max-width: 650px) {
  .label {
    margin-top: 20px;
    padding-bottom: 40px;
    h3 {
      padding-left: 10px;
    }
  }

  .lab_pics {
    display: block;
    img {
      width: 200px;
    }
  }

  .books {
    margin-top: 20px;
    padding-bottom: 40px;
    h3 {
      padding-left: 10px;
    }
  }

  .books_pics {
    display: block;
    img {
      width: 200px;
    }
  }

  .tags {
    margin-top: 20px;
    padding-bottom: 40px;
    h3 {
      padding-left: 10px;
    }
  }

  .tags_pics {
    display: block;
    img {
      width: 200px;
    }
  }
}
