.header {
  font-family: Helvetica, sans-serif;
  color: white;
}

.nav_item {
  display: flex;
  align-items: center;
  background-color: black;
}

.title {
  color: white;
  text-decoration: none;
  h1 {
    padding-top: 10px;
    font-size: 25px !important;
  }
}

.nav_links {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  text-decoration: none;

  padding-top: 15px !important;
}

.non span {
  font-size: 20px;
  text-decoration: none !important;
  color: white;
}

.non span:hover {
  color: grey;
  margin-top: 6px !important;
}

//   768
@media screen and (max-width: 650px) {
  .header {
    display: none;
  }
}
